.app {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

main {
  width: 100%;
  padding-top: 70px;
  background-color: #ffffff;
}

@media (max-width: 768px) {
  main {
    padding-top: 60px;
  }
}